In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")

In [3]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [4]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
filtered_df = vine_df[vine_df.total_votes>=20]

In [5]:
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [6]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where 
#the number of helpful_votes divided by total_votes is equal to or greater than 50%.
filtered_df["helpfulness"] =filtered_df["helpful_votes"]/filtered_df["total_votes"]
helpful_df= filtered_df[filtered_df.helpfulness>=0.5]

C:\Users\happy\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615
...,...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N,0.900000
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [8]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves
#all the rows where a review was written as part of the Vine program (paid), vine == 'Y'
helpful_vine_df=helpful_df[helpful_df.vine == "Y"]
helpful_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
32611,R3KKUSGFZWSUIY,5,56,63,Y,N,0.888889
33112,R10FO5UKKVZBK2,3,23,23,Y,N,1.000000
69680,RM4KSGEOR7MU1,5,19,24,Y,N,0.791667
155361,RG7VRMYLEXD23,4,22,26,Y,N,0.846154
239327,R11O4YSCPSNL6L,3,20,26,Y,N,0.769231

In [9]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
helpful_nonvine_df=helpful_df[helpful_df.vine == "N"]
helpful_nonvine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615

In [10]:
#Determine the total number of reviews, the number of 5-star reviews,
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [18]:
vine_total = len(helpful_vine_df)
vine_total

94

In [19]:
vine_5star=(helpful_vine_df['star_rating'] == 5).sum()
vine_5star

48

In [21]:
#Percent Vine reviews with 5 star review
percent_5star_vine =vine_5star/vine_total *100 
percent_5star_vine

51.06382978723404

In [12]:
#Quick check using .valuecounts()
helpful_vine_df['star_rating'].value_counts(normalize=True)

5    0.510638
4    0.255319
3    0.170213
2    0.053191
1    0.010638
Name: star_rating, dtype: float64

In [22]:
nonvine_total = len(helpful_nonvine_df)
nonvine_total

40471

In [23]:
nonvine_5star=(helpful_nonvine_df['star_rating'] == 5).sum()
nonvine_5star

15663

In [24]:
#Percent non-vine reviews with 5 star review
percent_5star_nonvine =nonvine_5star/nonvine_total *100 
percent_5star_nonvine

38.701786464381904

In [14]:
#Quick check using value_counts()
helpful_nonvine_df['star_rating'].value_counts(normalize=True)

5    0.387018
1    0.254577
4    0.166490
3    0.108201
2    0.083714
Name: star_rating, dtype: float64